In [1]:
# Import Pandas
import pandas as pd
import pathlib

## Import, Clean, and Export a Clean Data File
### Read CSV's and Create the DataFrames

In [2]:
# Files to load
school_data_filepath = pathlib.Path("resources/schools_complete.csv")
student_data_filepath = pathlib.Path("resources/students_complete.csv")

In [3]:
# Read the school data file
schools_df = pd.read_csv(school_data_filepath)
schools_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
# Read the student data file
students_df = pd.read_csv(student_data_filepath)
students_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

### Check for Missing Data

In [5]:
# Determine if there is any missing data in schools
schools_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [6]:
# Determine if there is any missing data in students
students_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
# Confirming the number of null values in each column is zero
schools_df.isnull().sum()

School ID      0
school_name    0
type           0
size           0
budget         0
dtype: int64

In [8]:
# Confirming the number of null values in each column is zero
students_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

### Data Types

In [9]:
# Determine data types for the school DataFrame
schools_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [10]:
# Determine data types for the student DataFrame
students_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

### Fix Student Names

In [11]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# Iterate through the words in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    students_df["student_name"] = students_df["student_name"].str.replace(word, "")
students_df

C:\Users\cdpet\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

### Write Cleaned Student Data to CSV

In [12]:
students_df.to_csv(pathlib.Path("resources/clean_students_complete.csv"))

## District Summary Analysis
### Merge DataFrames

In [13]:
# Combine the data into a single dataset
school_complete_df = pd.merge(students_df, schools_df, on=["school_name", "school_name"])
school_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

### Student and School Counts

In [14]:
# Total number of students
student_count = school_complete_df["Student ID"].count()
student_count

39170

In [15]:
# Total number of schools
school_count = len(school_complete_df["school_name"].unique())
school_count

15

### Total Budget

In [16]:
# Calculate total budget
total_budget = schools_df["budget"].sum()
total_budget

24649428

### Average Scores

In [17]:
# Calculate the average math score
average_math_score = school_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [18]:
# Calculate the average reading score
average_reading_score = school_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

### Percentage of Students Passing

In [19]:
# Get all the students who are passing reading in a new DataFrame
passing_math_df = school_complete_df[school_complete_df["math_score"] >= 70]
passing_math_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [20]:
# Get all the students who are passing reading in a new DataFrame
passing_reading_df = school_complete_df[school_complete_df["reading_score"] >= 70]
passing_reading_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [21]:
# Calculate the number of students passing math
passing_math_count = passing_math_df["student_name"].count()

# Calculate the number of students passing reading
passing_reading_count = passing_reading_df["student_name"].count()

print(passing_math_count)
print(passing_reading_count)

29370
33610

In [22]:
# Calculate the percent that passed math
passing_math_percentage = (passing_math_count / float(student_count)) * 100

# Calculate the percent that passed reading
passing_reading_percentage = (passing_reading_count / float(student_count)) * 100

print(passing_math_percentage)
print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [23]:
# Calculate the students who passed both math and reading
passing_both_df = school_complete_df[(school_complete_df["math_score"] >= 70) & (school_complete_df["reading_score"] >= 70)]
passing_both_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [24]:
# Calculate the number of students who passed both math and reading
passing_both_count = passing_both_df["student_name"].count()
passing_both_count

25528

In [25]:
# Calculate the overall passing percentage
passing_both_percentage = (passing_both_count / float(student_count)) * 100
passing_both_percentage

65.17232575950983

### Summary DataFrame

In [37]:
# Adding a list of values with keys to create a new DataFrame
district_summary_df = pd.DataFrame([{
    "Total Schools": school_count,
    "Total Students": student_count,
    "Total Budget": total_budget,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% Passing Math": passing_math_percentage,
    "% Passing Reading": passing_reading_percentage,
    "% Overall Passing": passing_both_percentage
}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

### Formatting the Summary DataFrame

In [38]:
# Format the "Total Students" to have the comma for a thousands separator
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$"
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Format the average score columns
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

# Format the percentage columns
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65